################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/game engine/obj
/game engine/bin/Debug/net8.0-windows
